params {

  out_dir= '../results'
  day_file = "$projectDir/../samples/filtered_otu_table_day_filtered_rel_abund_cv_filtered.tsv"
  night_file = "$projectDir/../samples/filtered_otu_table_night_filtered_rel_abund_cv_filtered.tsv"
  expression_matrix = "$projectDir/../samples/expression_matrix.tsv"
}

profiles {
    process_low {
        process{
            label='process_low'
            cpus={1*task.attempt}
            memory{4.GB*task.attempt}
            time={4.h*task.attempt}
        }
    }

    process_medium {
        process{
            label='process_medium'
            cpus={2*task.attempt}
            memory={8.GB*task.attempt}
            time={2.h*task.attempt}
        }
    }

    process_high{
        process{
            label='process_high'
            cpus={4*task.attempt}
            memory={12.GB*task.attempt}
            time={1.h*task.attempt}
        }
    }
}

report {
    enabled=true
    report.overwrite=true
    file="${params.report_dir}/execution_report.html"
}

dag {
    enabled=true
    dag.overwrite=true
    file="${params.report_dir}/execution_dag.html"
}

timeline {
    enabled=true
    dag.overwrite=true
    file="${params.report_dir}/execution_timeline.html"
}

trace {
    enabled=true
    trace.overwrite=true
    file="${params.report_dir}/execution_trace.txt"
}
process {
    //Basic configuration for all profiles
    errorStrategy = {task.exitStatus in ((130..145)+140)? 'retry':'finish'}
    maxRetries=3
    maxErrors='-1'

    withName:'mergeOtuTables'{
        publishDir =[
         path:"$projectDir/${params.out_dir}/0_mergeOtuTables",
         mode: params.publish_dir_mode
        ]
    } 

    withName:'correlationMerged'{
        publishDir =[
        path:"$projectDir/${params.out_dir}/1_correlationMerged",
        mode: params.publish_dir_mode
        ]
    }

    withName:'correlationscsparcc'{
        publishDir=[
        path:"$projectDir/${params.out_dir}/2_correlationscsparcc",
        mode: params.publish_dir_mode
        ]
    }
}

