params {

  // $publishDir relative paths 
  out_dir         = "../results"
  report_dir      = "report"
  environment_dir = "../envs"
  conda_cache_dir = "conda-cache"
  
  // path to samples 
  day_file          = "$projectDir/../samples/filtered_otu_table_day_filtered_rel_abund_cv_filtered.tsv"
  night_file        = "$projectDir/../samples/filtered_otu_table_night_filtered_rel_abund_cv_filtered.tsv"
  expression_matrix = "$projectDir/../samples/expression_matrix.tsv"
  
  // publishDir mode
  publish_dir_mode = "symlink"
}

profiles {
    local {
        process {
            // basic configuration for local profile
            cpus          = { 1 * task.attempt }
            memory        = { 2.GB * task.attempt }
            time          = { 1.h * task.attempt }
            errorStrategy = { task.exitStatus in ((130..145) + 140)? "retry" : "finish" }
            maxRetries    = 2
            maxErrors     = "-1"

            // resource definition by label
            withLabel: "process_low" {
                cpus   = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
                time   = { 1.h * task.attempt }
            }

            withLabel: "process_medium" {
                cpus   = { 2 * task.attempt }
                memory = { 4.GB * task.attempt }
                time   = { 2.h * task.attempt }
            }

            withLabel: "process_high" {
                cpus   = { 4 * task.attempt }
                memory = { 8.GB * task.attempt }
                time   = { 4.h * task.attempt }
            }
        }
    }
}

conda {
    enabled  = true
    cacheDir = "${params.conda_cache_dir}"
    useMamba = false
    //createTimeout = "1 h"
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.report_dir}/execution_report.html"
}

dag {
    enabled   = true
    overwrite = true
    file      = "${params.report_dir}/execution_dag.html"
}

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.report_dir}/execution_timeline.html"
}

trace {
    enabled   = true
    overwrite = true
    file      = "${params.report_dir}/execution_trace.txt"
}
process {
    withName: "mergeOtuTables" {
         publishDir = [
         	path: "$projectDir/${params.out_dir}/0_mergeOtuTables",
         	mode: params.publish_dir_mode
        ]
        conda = "$projectDir/${params.environment_dir}/pandas.yml"
    }

    withName: "correlationMerged" {
        publishDir = [
        path: "$projectDir/${params.out_dir}/1_correlationMerged",
        mode: params.publish_dir_mode
        ]
        conda = "$projectDir/${params.environment_dir}/scipy.yml"
    }
  
    withName: "plotHeatmap" {
        publishDir = [
        path: "$projectDir/${params.out_dir}/2_correlationHeatmap",
        mode: "copy" // copy is better for PNG files!
        ]
        conda = "$projectDir/${params.environment_dir}/seaborn.yml"
    }

    withName: "correlationscsparxcc" {
        publishDir = [
        path: "$projectDir/${params.out_dir}/3_correlationscsparxcc",
        mode: params.publish_dir_mode
        ]
        conda = "$projectDir/${params.environment_dir}/sparxcc.yml"
    }
}
