params {

  out_dir= '../results'
  day_file = "$projectDir/../samples/filtered_otu_table_day_filtered_rel_abund_cv_filtered.tsv"
  night_file = "$projectDir/../samples/filtered_otu_table_night_filtered_rel_abund_cv_filtered.tsv"
  expression_matrix = "$projectDir/../samples/expression_matrix.tsv"
  report_dir = '../report'
  publish_dir_mode = 'symlink'
}

conda {
        enabled = true
        useMamba = true  // Optional: use mamba for faster package resolution
}

report {
    enabled=true
    report.overwrite=true
    file="${params.report_dir}/execution_report.html"
}

dag {
    enabled=true
    dag.overwrite=true
    file="${params.report_dir}/execution_dag.html"
}

timeline {
    enabled=true
    timeline.overwrite=true
    file="${params.report_dir}/execution_timeline.html"
}

trace {
    enabled=true
    trace.overwrite=true
    file="${params.report_dir}/execution_trace.txt"
}
process {
    //Basic configuration for all profiles
    errorStrategy = {task.exitStatus in ((130..145)+140)? 'retry':'finish'}
    maxRetries=3
    maxErrors='-1'

    withName:'mergeOtuTables'{
	 conda = "/Storage/progs/miniconda3"
         publishDir =[
         	path:"$projectDir/${params.out_dir}/0_mergeOtuTables",
         	mode: params.publish_dir_mode
        ]
    } 

    withName:'correlationMerged'{
        publishDir =[
        path:"$projectDir/${params.out_dir}/1_correlationMerged",
        mode: params.publish_dir_mode
        ]
    }

    withName:'correlationscsparcc'{
        publishDir=[
        path:"$projectDir/${params.out_dir}/2_correlationscsparcc",
        mode: params.publish_dir_mode
        ]
    }
}

